:root{
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #fff;
    --font-os: 'Open Sans', sans-serif;
    --font-rw: 'Raleway', sans-serif;
}

*{
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    width: 1200px;
}
a{
    text-decoration: none;
}

/* Sekcja 1 */

header{
    background: var(--color-white);
    color: var(--color-black);
}
nav{ 
    height: 70px;
    box-shadow: 0px 3px 6px #00000029;
}
nav .nav-container{
    width: 1352px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav-list{
    display: flex;
    font-family: var(--font-os);
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
}
.logo a{
    font-family: var(--font-rw);
    font-weight: 300;
    font-size: 2rem;
    color: var(--color-primary);
}
.nav-list li{
    display: block;
    margin-right: 77px;
}
.nav-list a{
    color: var(--color-grey);
    padding: 28px 18px 23px;
}
.nav-list li:last-child{
    margin-right: 0;
}
.nav-list a:hover{
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}
.cta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-black);
    font-family: var(--font-os);
}
.cta-text{
    margin-top: 130px;
    text-align: center;
}
.cta-text h1{
    font-size: 3.0625rem;
    font-family: var(--font-rw);
    font-weight: 400;
}
.cta-text p{
    font-size: 1rem;
    font-weight: 400;
    margin: 1.5rem 0 2.5rem;
}
.cta-bg-img{
    width: 100%;
    height: auto;
}
.btn-big{
    display: inline-block;
    border: none;
    background: var(--color-primary);
    border-radius: 40px;
    padding: 23px 157px;
    font-family: var(--font-os);
    font-weight: 700;
    font-size: 1rem;
    color: var(--color-white);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}

/* Koniec Sekcji 1 */

/* Sekcja 2 */


.info h3{
    font-family: var(--font-rw);
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    margin: 100px;
}
.info-box-container{
    margin: 0 auto 120px;
    width: 800px;
    display: flex;
    justify-content: space-between;
}
.info-box{
    display: flex;
    flex-direction: column;
    width: 116px;
    align-items: center;
}
.circle{
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
}
.info-box:nth-child(1) .circle{
    background: var(--color-redish);
}
.info-box:nth-child(2) .circle{
    background: var(--color-primary);
}
.info-box:nth-child(3) .circle{
    background: var(--color-green);
}
.circle img{
    position: absolute;
}
.info-box:nth-child(1) .circle img{
    right: -10px;
}
.info-box:nth-child(2) .circle img{
    bottom: calc(50% - 17.5px);
    right: -20px;
}
.info-box:nth-child(3) .circle img{
    bottom: calc(50% - 24px);
    right: -20px;
}
.info-box strong{
    margin: 14px 0 19px;
    font-family: var(--font-rw);
    font-weight: 800;
    font-size: 20px;
}
.info-box p{
    font-family: var(--font-rw);
    font-weight: 400;
    font-size: 17px;
    color: var(--color-grey);
    text-align: center;
}

/* koniec sekcji 2 */

/* Sekcja 3 */

.benefits{
    padding: 100px 0;
    background: var(--color-light-grey);
}
.benefits-container{
    width: 1124px;
    margin: 0 auto;
}
.benefits-box{
    background: var(--color-white);
    border: 1px solid #E8E9ED; 
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 38px 0 0;
}
.benefits-text{
    width: 416px;
    height: 219px;
    margin: 90px 35px;
}
.benefits-text h3{
    margin-right: 90px;
    font-family: var(--font-rw);
    font-weight: 400;
    font-size: 2rem;
    color: var(--color-black);
}
.benefits-text p{
    font-family: var(--font-os);
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-black);
    margin: 30px 0 50px;
    line-height: 1.375rem
}
.benefits-text::after{
    content: '';
    display: block;
    width: 328px;
}
.benefits-box:nth-child(1) .benefits-text::after{
    border-bottom: 4px solid var(--color-redish);
}
.benefits-box:nth-child(2) .benefits-text::after{
    border-bottom: 4px solid var(--color-primary);
}
.double-box .benefits-text::after{
    border-bottom: 4px solid var(--color-green);
}
.first .benefits-image{
    position: relative;
    margin-right: 117px;
    margin-bottom: 38px;
}
.first .benefits-image img{
    position: relative;
    width: 386px;
}
.first .benefits-image::before{
    content: '';
    display: block;
    width: 180px; 
    height: 180px;
    border-radius: 41px;
    background-color: var(--color-redish);
    position: absolute;
    bottom: 40%;
    right: 0;
    transform: rotate(45deg);
}
.second{
    flex-direction: row-reverse;
}
.second .benefits-image{
    position: relative;
    margin: 29px 0 15px 70px;
}
.second .benefits-image img{
    z-index: 666;
    position: relative;
    width: 426px;
}
.second .benefits-image::after{
    content: '';
    display: block;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: var(--color-primary);
    position: absolute;
    top: -20px;
    left: 0;
}
.double-box{
    margin-top: 38px;
    display: flex;
}
.double-box .benefits-small-box{
    background: var(--color-white);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    width: 623px;
    margin-right: 61px;
}
.small-box-image{
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    width: 440px;
    height: 370px;
    background: var(--color-green);
    position: relative;
}
.small-box-image img{
    position: absolute;
    top: calc(50% - 90px);
    left: calc(50% - 148px);
    width: 296px;
    height: 208px;
}

/* Koniec sekcji 3 */

/* Sekcja 4 */